.car{
    width: 1000px;
    height:100vh;
    background-color:darkseagreen;
    color:black;
    padding: 20px;
}
.Cart{
    width: 1000px;
    height:100vh;
}
.caracProd{
    height: 200px;
}
.btn-Vac{
    width: 100px;
    height: 23px;
    background-color: crimson;
    color: black;
    border-radius: 20px;
}
.termComp{
    width: 100px;
    height: 40px;
    text-decoration: none;
    background-color:crimson;
    color: black;
    border-radius: 20px;
}
.shopping{
    width: 200px;
    height: 50px;
    background-color: cornflowerblue;
    color: black;
    text-decoration: none;
    border-radius: 20px;
}