.nombreTienda{
    width: 700px;
    height: 50px;
    color:indigo;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    text-align: center;
    margin-left: 10px;
}
.contenedor{
    width: 2000px;
    height: 100%;
}
.cargando{
    color: black;
    font-size: 20px;
    font-weight: 20px;
    font-family: 'Times New Roman', Times, serif;
}