.carComp{
    width: 1000px;
    width:100vh;
    background-color: lightseagreen;
}
.btnRem{
    width: 100px;
    height: 40px;
    background-color: darkred;
}
.checkout{
    width: 100px;
    height: 50px;
    background-color: crimson;
    color: black;
    border-radius: 30px;
    text-decoration: none;
}