.image{
    width: 300px;
    height:300px;
    padding-left: 25px;
    margin-top: 10px;
}
.name{
    width: 300px;
    height: 30px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 20px;
    color:crimson;
    background-color:goldenrod;
    border-radius: 20px;
}
.precio {
    width: 70px;
    height: 30px;
    font-size: 20px;
    color:firebrick;
    background-color: goldenrod;
    border-radius: 20px;
}
.tarjeta{
    width: 350px;
    height: 500px;
    background-color: aquamarine;
    display: grid;
    flex-direction: column;
    text-align:center;
    align-items: center;
}
.verMas{
    width: 100px;
    height: 30px;
    padding-top: 5px;
    background-color: steelblue;
    color: deepskyblue;
    text-decoration: none;
    border-radius: 20px;
}
